@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

#root {
  height: 100%;
  width: 100%;
}

#root .app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgb(207, 199, 214);
}

.app > img {
  flex: 1;
  object-fit: cover;
}

.app main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* _______Stepper Header Styling_________  */
main .stepper {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.stepper > button {
  padding: 0.8rem;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.stepper button.filled {
  border: 2px solid blueviolet;
  background-color: blueviolet;
}

.stepper .row {
  width: 100%;
  min-width: 3rem;
  border: 1px solid gray;
}

.stepper .row-bg {
  border: 1px solid blueviolet;
}

/* _______Stepper Form Styling_____  */
main form {
  display: flex;
  flex-direction: column;
  max-width: 48rem;
  padding: 1rem;
}

form input {
  width: 100%;
}

form .error {
  font-size: small;
  color: red;
}

/* ____Acadmic Information Styles____ */
form .form-document,
.upload-document,
.form-images-box {
  margin-bottom: 0.2rem;
}

.uploaded-document button {
  background: transparent;
  border: none;
}

.img-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  flex-wrap: wrap;
  justify-content: start;
}

.img-wrapper {
  position: relative;
}

.img-wrapper img {
  width: 150px;
  height: 150px;
}
.img-wrapper button img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
}
.form-images-box button {
  background: transparent;
  border: none;
}

form .toggle-btns button {
  margin-left: 0.3rem;
}

/* ____Review Component Style___ */
.review-form-data p {
  padding: 0.3rem;
  margin: 0;
}
.review-form-data .review-img {
  margin-left: 1rem;
  width: 120px;
  height: 120px;
  object-fit: cover;
}
